ion-item {
    font-size: 0.8rem;
    ion-thumbnail {
        height: 16vh;
        width: 13vh;

        img {
            border-radius: 5px;
            height: 100%;
            width: 100%;
        }
    }
}